/* Zahra Janforooz */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------- VARIABLES ---------- */
:root {


    --yellow: #F6D64A;
    --purple: #9B26B0;
    --teal: #55BCD5;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    font-size: 16px;
    --fonts: "Molle", Montserrat, sans-serif;
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --form-control-color: rebeccapurple;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --box-shadow: -0.5rem 0.5rem 1rem var(--med-gray);
}

/* ---------- GLOBAL STYLES ---------- */
* {
    box-sizing: border-box;
    line-height: 1.35;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* ----- SKIP LINK STYLES ----- */
/* skip link styles from: https://webaim.org/techniques/css/invisiblecontent/ */

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Add 	selctor to target the skip ID in the pseudo state of focus */

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}


body {

    background-color: var(--white);
    color: var(--black);
    line-height: 1.35;
    box-sizing: border-box;
    font-family: var(--fonts);
    margin: 0 auto;
    padding: 0;
}

/* Header styles */

header {
    width: 100%;

    display: flex;
    padding: 1rem 0;

}

#logo {
    padding: 0;
}

a {
    display: block;
    padding: 1rem;
    color: var(--maroon);
}

header p {
    margin-left: 20px;
}


nav a {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.25rem;
}

nav li {
    list-style: none;
}

h1 {
    font-size: 2em;
    text-align: left;
    margin-left: 20px;
}

h1,
h2,
h3 {
    font-family: "Molle";
}

h4,
p,
q,
small,
nav,
button,
form {
    font-family: "Montserrat";
}

h4 {
    font-weight: bold;
}


/*
  
  #menu-toggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  
  #menu-toggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  
  #menu-toggle a:hover {
    color: #4f7794;
  }
  
  

  #menu-toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; 
    z-index: 2; 
      
    -webkit-touch-callout: none;
  }
  
  #menu-toggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
  }

  

   
  #menu-toggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;  
    z-index: 1;  
    
  }
  
  
 
  #menu-toggle input:checked + label div {
    background: #232323;
  }
  
 
  #menu-toggle{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
   
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; 
  }
  
  #menu-toggle li {
    padding: 10px 0;
    font-size: 22px;
  }
  

  #menu-toggle input:checked ~ ul {
    left: 0;
  }
*/

#lName,
#fName,
#email,
#phone,
.required input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

#lName,
#fName,
#email,
#phone,
.required input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

#lName,
#fName,
#email,
#phone,
.required[type="file"] {
    font-size: 0.9em;
    padding-top: 0.35rem;
}

#lName,
#fName,
#email,
#phone,
.required:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}

#lName,
#fName,
#email,
#phone,
.required {
    transition: 180ms box-shadow ease-in-out;
}

#lName,
#fName,
#email,
#phone,
.required:focus {
    outline: 3px solid transparent;
}

.radio-input {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    flex-flow: wrap;
    gap: 0.5em;
}

input[type="radio"] {

    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}


input[type="radio"]::before {
    background-color: CanvasText;
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.radio-input:focus-within {
    color: var(--form-control-color);
}


select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

select {
    outline: none;
}

.custom-select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.custom-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.custom-select {
    display: grid;
}

.custom-select {

    grid-template-areas: "select";
}

select,
.custom-select:after {
    grid-area: select;
}


.custom-select {
    align-items: center;
}

.custom-select:after {
    justify-self: end;
}


select:focus+.focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

.custom-select {
    position: relative;

}




#mySubmit:hover{
  
        background-color:#002ead;
        transition: 0.7s;
    }


#mySubmit:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px var(--purple);
}


footer {
    text-align: left;
    padding: 20px;
}

footer a {
    display: flex;
    align-items: right;
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 10px;
}




/* Additional styles for mobile screen */
@media screen and (min-width: 480px) {

    header {
        background-image: linear-gradient(var(--teal), var(--white));
        display: flex;
    }

    #logo a {
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 2em;
        text-align: left;
        margin-left: 20px;
    }

    header p {
        margin: 20px;
        text-align: left;
        font-size: 1.75em;

    }


    nav ul {
        display: block;
        /* Stack navigation items on mobile */

    }

    nav ul li {
        display: block;
        /* Change to block for mobile view */

        margin: 5px 0;
    }


    #intro h2 {
        font-size: 1.5em;
        margin-left: 20px;
        text-align: left;
    }

    #intro p {
        margin-left: 20px;
        text-align: left;
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.25em;

    }

    h4 {

        color: var(--black);
    }





    #img-grid img {
        display: grid;
        width: 100%;
        grid-gap: 0.5rem;
    }

    #intro>#img-grid picture {
        height: 100%;
    }

    #plan {
        background-color: var(--yellow);
        margin-top: 20px;
        text-align: center;
    }


    #plan div {
        display: grid;
        align-items: center;
        background-color: var(--yellow);
        padding-bottom: 20px;
    }





    #plan h3 {
        text-align: center;

    }

    #plan h4 {
        display: grid;
        text-align: center;

    }

    #plan img {
        display: grid;
        width: 50%;
        height: 50%;
        align-items: center;
        background-color: var(--teal);
        padding: 50px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-image: initial;
        border-radius: 8px;
    }


    #testimonials div {
        padding: 20px;
    }

    #testimonials {
        display: grid;
        grid-template-columns: repeat(4, 1fr);


    }

    #testimonials h3 {
        text-align: center;

    }

    #testimonials q {
        text-align: center;
    }

    #about {

        background-color: var(--blue);
    }

    #about h3 {
        text-align: center;
    }

    #about div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        padding: 20px;
    }


    #about img,
    h4,
    p {

        text-align: center;

    }

    form,
    #mySubmit {
        display: grid;
        justify-content: center;
        width: 100%;
    }

    #contact h3 {
        text-align: center;
        font-weight: bold;

    }

    #names label {
        font-weight: bold;
        font-size: 17px;
    }


    #nums legend {
        font-weight: bold;
    }

    #nums,
    #selects label {
        font-weight: bold;
        font-size: 17px;
    }


    .radio-label {
        font-weight: normal;

    }


    input,
    select {
        display: grid;
        align-items: center;
        margin-bottom: 10px;
        align-items: center;

    }

    #nums label {
        display: flex;
        margin-top: 8px;
    }

    #mySubmit {
        margin-top: 20px;
        padding: 20px;
        background-color: var(--purple);
        color: var(--white);
        font-size: 20px;
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: var(--light-gray);
    }

    footer a {
        display: grid;
        align-items: center;
        grid-gap: 1rem;
        max-width: 1000px;
        margin: 10px;
    }


}

@media screen and (min-width: 768px){
    #plan div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    #about div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 20px;
        align-items: center;
    }

    #about div section img{
        margin-right: 20px;
    }
    #testimonials div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding: 20px;
        align-items: center;
    }

 
}

@media screen and (min-width: 1200px){

    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    h1{
        align-items: center;
    }
    #plan div{
        display: flex;
        justify-content: space-evenly;
    }

    #about div{
        display: flex;
        justify-content: space-evenly;
    }


        
    #names{
        display: grid;
    }
    #names input{
        width: 100%;
    }
    #names label{
        margin-right: 20px;
    }

    #nums fieldset{
        display: flex;
    }

   
     #nums fieldset input{
        width: 100%;
     }

     #testimonials div{
        display: flex;
        justify-content: space-evenly;
     }
    
    #mySubmit{
       
       width: 50;
        
    }
  
    footer{
        display: flex;
        flex-wrap: wrap;
    }

    footer p{
        justify-content: left;
       
        
    }

    footer a {
        justify-content: right;
            max-width: 1000px;
            margin: 10px;
            justify-content: space-between;
    }
}


/* ----- BODY STYLES ----- */
/*

body {
    background-color: var(--light-gray);
    color: var(--black);
    line-height: 1.35;
    box-sizing: border-box;
    font-family: var(--fonts);
    margin: 0 auto;
    padding: 0;
}

header{
    background-image: linear-gradient(var(--teal), var(--white));

}

/*header img{
	display: block;
	width: 100%;
	max-width: 150px;
	margin: 0 auto;
}
*/
/*
#logo a{
    order: 1;
    display: block;
	width: 100%;
	max-width: 150px;
	margin: 0 auto;

}

h1{
    order: 3;
    font-family: var(--fonts);
}

nav {
    order: 2;
    position: relative;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

p{
    order: 4;
}

nav{
    font-family: var(--fonts);
    font-size: 16px;
    background-color: #ffffff;
}    

nav a{
    font-family: var(--fonts);
    font-size: 20px;

}

nav ul{
    
    margin-top: 30px;
}

nav span{
    font-family: var(--fonts);
    font-size: 20px;

}



/*

#toggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#toggle a:hover {
    color: #4f7794;
}


/* The hamburger button hidden inside an input element */
/*
#toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
/*
    z-index: 2;
    
    /* and place it over the hamburger */
/*
    -webkit-touch-callout: none;
}

#toggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

#toggle label span {
    display: none;
}
*/
/*  Hamburger  */
/*
#toggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#toggle label div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#toggle label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

/*  Change the color of the hamburger when toggled   */
/*
#toggle input:checked+label div {
    background: #232323;
}



/*  Use absolute positioning to place the menu off-screen  */
/*
.active {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    /* Hide the menu off-screen to the left */
/*
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.active li {
    padding: 10px 0;
    font-size: 22px;
}


#names input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

#names input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

#names[type="file"] {
    font-size: 0.9em;
    padding-top: 0.35rem;
}

#names:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}

#names {
    transition: 180ms box-shadow ease-in-out;
}

#names:focus {
    outline: 3px solid transparent;
}

.radio-input {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    flex-flow: wrap;
    gap: 0.5em;
}

input[type="radio"] {

    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}


  input[type="radio"]::before {
    background-color: CanvasText;
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  
/*

#toggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#toggle a:hover {
    color: #4f7794;
}


/* The hamburger button hidden inside an input element */
/*
#toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
/*
    z-index: 2;
    
    /* and place it over the hamburger */
/*
    -webkit-touch-callout: none;
}

#toggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

#toggle label span {
    display: none;
}

/*  Hamburger  */
/*
#toggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#toggle label div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#toggle label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

/*  Change the color of the hamburger when toggled   */
/*
#toggle input:checked+label div {
    background: #232323;
}
*/


/*  Use absolute positioning to place the menu off-screen  */
/*

.active {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    /* Hide the menu off-screen to the left */
/*
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.active li {
    padding: 10px 0;
    font-size: 22px;
}


*/